*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    /* height: 100vh;
    overflow: hidden; */
    scroll-behavior: smooth;
  }


.parent {
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  /* scroll-snap-points-y: repeat(100vh); */
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.child{
  scroll-snap-align: start;
}